.certificationBackGround {
  background-color: #23be53;
  margin-left: 7vw;
  margin-top: 10px;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.organizationName {
  color: white;
  margin-left: 2.5vw;
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 0px;
}

.buttonShowHide {
  background-color: #23be53;
  border: none;
  margin-right: 1.4vw;
}

.buttonShowHide:hover {
  cursor: pointer;
}

.showHideImg {
  height: 0.5vw;
}
.courses {
  background-color: white;
  height: 3.5vw;
  margin-left: 7vw;
  margin-top: 5px;
  padding: 1px 0px;
  width: 40%;
  height: auto;
  display: none;
}
.courseLink {
  text-decoration: none;
}
.coursesName {
  color: #23be53;
  margin-left: 2.5vw;
  font-size: 1.4vw;
  font-weight: 500;
  line-height: auto;
}

@media only screen and (max-width: 450px) {
  .organizationName {
    font-size: 3.2vw;
    margin-left: 10px;
  }
  .certificationBackGround {
    width: 70%;
    margin-top: 3px;
  }
  .courses {
    width: 70%;
    margin-top: 1px;
  }
  .coursesName {
    font-size: 2.5vw;
    margin-left: 10px;
  }
  .showHideImg {
    margin-bottom: 3px;
  }
}
