.divProjects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.projects {
  text-align: center;
  width: 30%;
}

.titleProjects {
  color: white;
  text-decoration: none;
  font-size: 1.2vw;
}

.projectsImg {
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .divProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects {
    width: 80%;
  }
  .titleProjects {
    font-size: 2.5vw;
  }
  .paragrafoProjects {
    font-size: 3vw;
  }
}
