.titleQualifications {
  margin-top: 5.5vw;
  margin-bottom: 0vw;
}

.greenTitleQualification {
  color: #23be53;
  font-size: 3.5vw;
  margin-left: 7vw;
}

.whiteTitleQualification {
  color: #ffffff;
  font-size: 3.5vw;
  margin-left: 10px;
}
.subtitulosQualifications {
  color: white;
  margin: 1.5vw 0px 0.35vw 7vw;
  font-size: 2.1vw;
  font-weight: 500;
}

.divIcons {
  margin-left: 7vw;
  display: flex;
}

.divIcons > img {
  margin-left: 1.05vw;
  width: 4%;
}

@media only screen and (max-width: 450px) {
  .greenTitleQualification {
    font-size: 6vw;
  }
  .whiteTitleQualification {
    font-size: 6vw;
  }
  .subtitulosQualifications {
    font-size: 5vw;
    margin: 1.5vw 0px 1.5vw 7vw;
  }
  .divIcons > img {
    margin-left: 1.05vw;
    width: 8%;
  }
}
