.headerBackground {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7vw;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
}

.iconesContato {
  margin-left: 7vw;
}

.marginRightAndLeft {
  margin: 0px 20px;
}

.secoes {
  display: flex;
}
.secoesName {
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
  text-decoration: none;
}

.certificacoesMargin {
  margin: 0px 7vw 0px 1.4vw;
}

.iconsHeader {
  width: 3vw;
  margin-top: 1vw;
}

@media only screen and (max-width: 450px) {
  .headerBackground {
    justify-content: center;
    height: 12vw;
  }
  .secoesName {
    display: none;
  }
  .iconesContato {
    margin: 0px;
  }
  .iconsHeader {
    width: 6vw;
    margin-top: 2vw;
  }
}
