.headerBackground {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #000000;
  position: fixed;
  width: 100%;
}

.iconesContato {
  margin-left: 100px;
}

.marginRightAndLeft {
  margin: 0px 20px;
}

.secoesName {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.certificacoesMargin {
  margin: 0px 100px 0px 20px;
}
